html {
  font-family: Source Sans Pro, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  color: #333;
}

body {
}
.form-check.form-control {
  padding-left: 1.75rem;
  height: auto;
}
.navbar {
  border-radius: 0;
  background: #2f495e !important;
}
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}
.navbar-nav .nav-item .nuxt-link-active,
.navbar-nav .nav-item .nuxt-link-active:focus {
  color: #fff;
}
a {
  color: #35495e;
}

#content {
  padding: 20px;
  min-height: 550px;
}
#content a {
  font-weight: bold;
}
.nav-button-group {
  display: flex;
  flex-direction: column;
}
.btn-block a {
  display: block;
}
.nav-button-group .btn-block {
  margin-bottom: .25rem;
}
.btn, .btn-social {
  font-weight: normal !important;
}

.loading {
  background: url(../../static/svg/svg-icons/loading.svg) no-repeat bottom right;
  font-style: normal;
  color: #999;
  line-height: 20px;
}